$add-client-window__header-size: 50px;

.table-items {
  .background {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1465px;

    cursor: default;

    z-index: 9;

    &.active {
      display: block;
      background-color: rgba(0, 0, 0, .1);
    }
  }

  .add-client-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 900px;

    background-color: $white;
    box-shadow: 0 0 5px $border-color;

    transition: transform .1s, opacity .1s;
    z-index: 10;

    .header-line {
      height: $add-client-window__header-size;
      width: 100%;

      background-color: $blue;
      z-index: 2;
      cursor: move;
      user-select: none;
    }

    .tabs {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      height: $add-client-window__header-size + 1px;

      font-size: .8em;
      user-select: none;

      .client, .cashbox {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        padding: 0 10px;
        background-color: transparent;

        color: $white;
        font-weight: 400;

        &.active {
          background-color: $white;
          color: $black;
        }
      }
    }

    .day {
      display: flex;
      align-items: center;

      position: absolute;
      top: 0;
      right: 10px;

      height: $add-client-window__header-size;

      color: $white;
      font-size: .8em;
      font-family: sans-serif;

      z-index: 3;
      user-select: none;
    }
  }
}

@import "Time";
@import "CashBox";
@import "ClientInfo";
@import "Calculator";
@import "MastersDropDown";
@import "ClientsTooltip";