.client-info > .clients__tooltip {
  margin-left: 15px;
  list-style: none;

  border: 1px solid $border-color;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  font-size: .85em;

  grid-column: 1 / span 11;
  grid-row: 7 / span 6;

  .client {
    display: inline-block;

    box-sizing: border-box;
    margin-top: 2px;
    margin-left: 5px;
    padding: 3px 5px;

    width: calc(50% - 10px);

    background-color: white;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0 0 0 1px $blue;
      }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .phone {
      font-weight: 400;
    }
  }
}