.inside__container > .days-of-week__container {
  display: flex;
  flex-direction: column;
  width: 304px;

  .days-of-week {
    display: flex;
    justify-content: space-around;

    .day-of-week {
      font-size: 11px;
      color: $calendar-font-color;
    }
  }

  .days-of-week__underline {
    width: 304px;
    height: 1px;

    margin-top: 5px;
    margin-bottom: 10px;

    background-color: $calendar-font-color;
    border: none;
  }
}



