.clients-list__block {
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;

  width: 750px;
  height: calc(100vh - 140px);

  border: 1px solid $border-color;

  .search {
    width: 100%;

    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 15px;

    border: 1px solid $border-color;

    font-size: 18px;

  }

  .clients-list {
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid $border-color;
    height: calc(100% - 59px);
    overflow: auto;
    .client {
      margin-bottom: 5px;
      padding: 5px 10px;
      background-color: white;
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 0 1px $blue;
      }
      .name {

      }
    }
  }
}