.client-error-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  right: 20px;
  top: 20px;

  width: 300px;
  height: 150px;

  box-sizing: border-box;
  padding: 10px;

  background-color: rgb(221, 67, 48);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border-radius: 20px;

  color: $white;

  z-index: 101;
  animation: animate-move 7s;

  h2 {
    font-weight: 600;
  }

  p {
    text-align: center;
    margin-top: 15px;
  }
}


@keyframes animate-move {
  0% {
    transform: translateY(-200px);
  }
  4% {
    transform: translateY(0px);
  }
  96% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}
