$add-client-window__header-size: 50px;

.day-detail__block {
  .background {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1465px;

    cursor: default;

    z-index: 9;

    &.active {
      display: block;
      background-color: rgba(0, 0, 0, .1);
    }
  }

  & > .add-client-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 900px;

    background-color: $white;
    box-shadow: 0 0 5px $border-color;
    border-radius: 10px;

    transition: transform .1s, opacity .1s;
    z-index: 10;
    cursor: default;

    .input {
      outline: none;
      border: none;
      resize: none;
    }

    .input:focus {
      border-bottom: 2px solid $blue;
    }

    .input:focus::placeholder {
      color: $blue;
    }

    .header-line {
      height: $add-client-window__header-size;
      width: 100%;

      background-color: transparent;
      z-index: 2;
      cursor: move;
      user-select: none;
    }

    & > .close, & > .back-icon {
      position: absolute;
      top: 17px;
      right: 17px;

      cursor: pointer;
    }

    & > .back-icon {
      left: 17px;
      right: inherit;
    }


    .tabs {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      height: $add-client-window__header-size + 1px;

      font-size: .8em;
      user-select: none;

      .client, .cashbox {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        padding: 0 10px;
        background-color: transparent;

        color: $white;
        font-weight: 400;
        cursor: pointer;

        &.active {
          background-color: $white;
          color: $black;
        }
      }
    }

    .day {
      display: flex;
      align-items: center;

      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);

      height: $add-client-window__header-size;

      font-size: 1.1em;

      z-index: 3;
      user-select: none;

      & > .left-arrow, & > .right-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35px;
        height: 35px;
        cursor: pointer;
      }

      span {
        text-align: center;
        width: 200px;
        -webkit-user-drag: none;
      }
    }
  }
}

@import "CashBox";
@import "ClientInfo";