$white: rgb(239,239,239);
$black: rgb(16, 16, 16);
$red: rgba(166, 21, 21, 0.9);

$border-color: rgba(16, 16, 16, .2);

.journal section.time {
  display: flex;
  margin-top: 80px;
  margin-left: 10px;

  font-size: 25px;

  .hours {
    .hour {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;
      border: 1px solid $border-color;
      border-bottom: 2px solid $border-color;
      border-top: none;

      font-size: 1.7em;
      font-weight: bold;

      &:nth-of-type(1) {
        border-top: 1px solid $border-color;
      }

      &:last-of-type {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .minutes {
    .minute {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: .9em;

      width: 30px;
      height: 30px;

      border: 1px solid $border-color;
      border-top: none;

      &:nth-of-type(1) {
        border-top: 1px solid $border-color;
      }

      &:nth-of-type(2n +1) {
        height: 29px;
        border: 1px solid $border-color;
      }
    }
  }
}