$white: rgb(239,239,239);
$black: rgb(16, 16, 16);
$red: rgba(166, 21, 21, 0.9);

$border-color: rgba(16, 16, 16, .2);

.table-items {
  .background {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;

    &.active {
      display: block;
    }
  }

  .add-client-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

    opacity: 0;

    width: 500px;
    height: 300px;

    padding: 10px;

    background-color: $white;

    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: 0 0 10px $border-color;

    transition: transform .1s, opacity .1s;
    pointer-events: none;

    &.active-bottom {
      opacity: 100%;
      transform: translate(0, 20px);
      pointer-events: all;
    }

    &.active-top {
      opacity: 100%;
      transform: translate(0, -20px);
      pointer-events: all;
    }
  }
}