.master > .table-items {
  .table-item {
    margin-left: 10px;
    width: 200px;
    height: 25px;

    border: 1px solid $border-color;
    border-top: none;

    &:nth-of-type(1) {
      border-top: 1px solid $border-color;
    }

    &:nth-of-type(4n + 1) {
      //height: 29px;
      border: 1px solid $border-color;
    }

    &:hover {
      background-color: rgba(0, 109, 255, .1);
    }

    &.active {
      background-color: rgba(0, 109, 255, .2);
      z-index: 5;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &>.underline {
    position: absolute;
    left: 125px;
    transform: translate(0, -1px);
    display: none;

    width: 700px;
    border: 1px solid $blue;

    &.active {
      display: block;
    }
  }
}

@import "AddClientWindow/AddClientWindow";