@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  background-color: $white;
}

.wrapper {
  display: flex;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(197, 197, 197, 0.6);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    margin: 5px;
}