.add-client-window__category {
  display: flex;
  margin-bottom: 10px;

  .input {
    &:focus {
      border-bottom: none;
    }
  }

  .add-category {
    position: relative;
    display: flex;
    //align-items: center;
    margin-right: 10px;

    .input-category {
      box-sizing: border-box;
      width: 105px;
      padding: 5px 8px;
      height: 28px;

      border: 1px solid $border-color;
      border-radius: 5px;
    }

    & > .plus-category, & > .minus, & > .nothing {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;

      margin-top: 4px;
      margin-right: 5px;
      box-sizing: border-box;

      background-color: green;
      border-radius: 5px;
      color: white;
      font-size: 18px;

      user-select: none;
      cursor: pointer;
    }

    & > .minus {
      align-items: center;
      border: 1px solid $red;
      background-color: $white;
      font-size: 22px;
      color: $red;

      span {
        transform: translateY(-1px);
      }
    }

    & > .nothing {
      background-color: white;
      cursor: default;
    }
  }

  .materials {
    display: flex;
    flex-direction: column;

    user-select: none;

    .add-material {
      position: relative;
      display: flex;
      align-items: center;

      .input-material, .input-quantity {
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 5px 8px;

        width: 105px;
        height: 28px;

        background-color: white;
        border: 1px solid $border-color;
        border-radius: 5px;
      }

      &>.plus, &>.minus {
        align-self: start;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 15px;
        height: 15px;

        margin-top: 7px;

        cursor: pointer;
      }

      .quantity {
        display: flex;
        align-items: end;

        .input-quantity {
          margin-left: 13px;
          margin-right: 3px;
          width: 40px;
        }
      }

      & > span {
        width: 20px;
        text-align: center;
        font-size: 18px;
        color: $blue;
        cursor: pointer;
      }

      & > .minus {
        font-size: 20px;
        color: red;
      }

      & > .remove-category {
        margin-bottom: 10px;
        margin-left: 3px;
        box-sizing: border-box;

        user-select: none;
        cursor: pointer;
      }
    }
  }
}