.add-client-window__coloring {
  display: flex;

  &>.work {
    display: flex;
    align-items: center;

    height: 40px;

    margin-left: 5px;
    font-size: 16px;

    .work-input {
      box-sizing: border-box;
      margin-left: 10px;
      padding: 5px;

      width: 75px;
      height: 35px;

      font-size: 18px;
    }
  }
}