.add-client-window__materials {
  display: flex;
  flex-direction: column;

  padding: 20px 5px;

  width: 358px;
  height: 388px; // выровнено по кнопке Услуга Оплачена

  font-size: 16px;
  overflow: auto;
}