.add-client-window__price-table {
  width: 620px;
  height: calc(100% - 75px);

  padding: 10px;
  box-sizing: border-box;

  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: white;

  font-size: 18px;
  font-weight: 400;

  overflow: auto;

  & > .table {
    .row {
      display: flex;

      &:hover {
        & > div {
          background-color: $white;
        }
      }

      & > div {
        text-align: center;

        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;

        border: 2px solid $border-color;
        border-radius: 10px;

        font-weight: 300;
      }

      .name {
        width: 75%;
        margin-right: 16px;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;

        text-align: center;
        cursor: pointer;
        user-select: none;

        .count-pos-in-result {
          font-size: .85em;
          font-weight: 500;

          margin-left: 5px;
        }
      }
    }
  }
}