.add-client-window__woman-price-table {
  & > .table {
    .row {
      display: flex;

      &:hover {
        & > div {
          background-color: $white;
        }
      }

      & > div {
        text-align: center;

        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;

        border: 2px solid $border-color;
        border-radius: 10px;

        font-weight: 300;
      }

      .name {
        width: 80%;

        margin-right: 10px;

        &.header {
          border: none;
        }
      }

      .price {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 20%;

        margin-right: 5px;

        text-align: center;
        font-weight: 500;
        cursor: pointer;
        user-select: none;

        .count-pos-in-result {
          font-size: .85em;
          margin-left: 5px;
          color: $black;
        }

        &.header {
          color: $black;
          background-color: $white;
          cursor: default;
        }
      }
    }
  }
}