.calendar__wrapper {
    display: block;
    align-items: center;

    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    overflow-x: hidden;

    .calendar__container {
        position: relative;
        display: block;
        justify-content: center;

        width: $calendar-width;
        height: $calendar-width * 1.18;

        margin: 0 auto;

        border-radius: 5px;
        border: 1px solid $white;
        background-color: $white;

        overflow: hidden;

        & > .inside__container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            width: 100%;
            height: 100%;

            bottom: 16px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}


@import "DaysOfWeek";
@import "MonthNav";
@import "Date/Date";
@import "Date/DatesList";