section.masters > .master {
  font-size: 25px;

  &>.name {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 10px 8px 10px;

    width: 200px;
    height: 60px;

    border: 1px solid $border-color;
    border-radius: 10px;
  }
}

@import "TableItem/TableItem";