$white: rgb(239,239,239);
$black: rgb(16, 16, 16);
$red: rgba(166, 21, 21, 0.9);

$border-color: rgba(16, 16, 16, .2);

section.masters .master {
  .name {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 10px 8px 10px;

    width: 200px;
    height: 60px;

    border: 1px solid $border-color;
    border-radius: 10px;
  }
}

@import "TableItem/TableItem";