.table-items {
  .background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;

    &.active {
      display: block;
      background-color: rgba(0, 0, 0, .1);
    }
  }

  .add-client-window {
    display: grid;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 50px);

    flex-direction: column;
    position: absolute;

    opacity: 0;

    width: 500px;
    height: 300px;

    padding: 10px;

    font-size: 20px;

    background-color: $white;

    border: 1px solid $blue;
    border-radius: 10px;
    //box-shadow: 0 0 10px $border-color;

    transition: transform .1s, opacity .1s;
    pointer-events: none;
    cursor: default;
    z-index: 1;

    &.active-bottom {
      opacity: 100%;
      transform: translate(0, 20px);
      pointer-events: all;
    }

    &.active-top {
      opacity: 100%;
      transform: translate(0, -20px);
      pointer-events: all;
    }

    .header-line {
      position: absolute;

      height: 45px;
      width: 100%;

      background-color: $blue;
      border-radius: 10px 10px 0 0;
      z-index: 2;
    }

    .header {
      justify-self: center;
      grid-column: 1 / 4;
      grid-row: 1;

      font-size: 1.1em;
      font-weight: bold;
      color: $white;
      z-index: 3;
    }

    form {
      grid-column: 1 / 11;
      grid-row: 1 / 11;

      display: grid;
      grid-template-rows: repeat(10, 30px);
      grid-template-columns: repeat(10, 50px);

      input:focus {
        border-bottom: 2px solid $blue;
      }
      input:focus::placeholder {
        color: $blue;
      }

      .day {
        justify-self: center;
        grid-column: 8 / 11;
        grid-row: 1;

        color: $white;
        z-index: 3;
      }
      .time {
        justify-self: center;
        align-self: center;
        grid-column: 6 / 11;
        grid-row: 2 / 7;
      }
      .master {
        justify-self: center;
        align-self: center;
        grid-column: 1 / 7;
        grid-row: 3;

        font-family: sans-serif;
        font-size: 18px;

        position: relative;
        left: -15px;

        .master-name {
          width: 150px;

          color: $blue;
          text-decoration: underline;
          font-size: 17px;

          background-color: transparent;

          outline: none;
          border: none;
          cursor: pointer;
        }
      }

      .name, .last-name, .phone {
        align-self: center;
        justify-self: center;
        grid-column: 2 / 5;

        height: 15px;
        padding: 5px;

        font-size: 15px;

        background-color: $white;

        outline: none;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.3);
      }

      .name {
        grid-row: 4 / 6;
      }
      .last-name {
        grid-row: 6;
      }
      .phone {
        grid-row: 7 / 9;
      }
      .gender {
        justify-self: center;
        align-self: center;
        grid-column: 7 / 10;
        grid-row: 6;

        display: flex;
        align-items: center;

        font-family: sans-serif;
        font-size: 17px;
        line-height: 25px;

        p {
          margin-right: 10px;
          cursor: text;
        }

        .male, .female {
          width: 25px;
          height: 25px;

          border: 1px solid $border-color;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer;

          .checkmark {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            background-color: $white;

            transition: background-color .1s, color .1s;
          }

          input {
            display: none;

            &:checked + .checkmark {
              color: $white;
              background-color: $blue;
            }
          }
        }
      }
      .service {
        justify-self: center;
        grid-column: 7 / 10;
        grid-row: 7 / 9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        label {
          font-family: sans-serif;
          font-size: .8em;
          color: rgba(0, 0, 0, .7);
        }
        #service {
          height: 30px;
          outline: none;
          border: none;
        }
        .input-service {
          height: 15px;
          padding: 5px;

          font-size: 15px;

          background-color: $white;

          outline: none;
          border: none;
          border-bottom: 1px solid rgba(0,0,0,.3);
        }
          option {
            color: white;
          }
      }

      .confirm, .cancel {
        justify-self: center;
        align-self: center;
        grid-row: 9 / 11;

        width: 100px;
        height: 35px;
        padding: 5px;

        color: $white;
        font-size: 15px;

        border: 1px solid $border-color;

        cursor: pointer;

        &:focus {
          border-bottom: 1px solid $border-color;
        }
      }

      .confirm {
        grid-column: 3 / 6;
        background-color: $blue;
      }
      .cancel {
        grid-column: 6 / 9;
        color: $black;
      }
    }
  }
}

@import "Time";