.add-client-window > .client-info > form > .time {
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;

  .time-range {
    display: flex;

     .hours, .minutes {
       font-size: 36px;
       text-align: center;
       font-weight: 300;

       width: 55px;
       height: 55px;

       outline: none;
       border: none;
       box-sizing: border-box;
       background-color: transparent;
    }

    .colon {
      align-self: center;
    }
    &>.minus {
      align-self: center;
      font-size: 1.5em;
      font-weight: 300;
    }

    .time-start, .time-end {
      display: flex;

      margin: 0 5px;
      padding: 0 3px;
      box-sizing: border-box;

      width: 120px;
      height: 60px;

      border: 1px solid $border-color;
      border-radius: 28px;
      background-color: white;
    }
  }

  .change-time {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 23px;

    user-select: none;

    span {
      display: block;
      text-align: center;

      line-height: 30px;
      font-weight: 300;

      margin: 0 5px;

      width: 120px;
    }

    .minus, .plus {
      cursor: pointer;
    }
  }
}