.master > .table-items {
  margin-top: 95px;

  .table-item {
    position: relative;
    width: 200px;
    height: 25px;

    border: 1px solid $border-color;
    border-top: none;
    background-color: white;


    &:hover {
      background-color: rgba(0, 109, 255, .1);
    }

    &.active {
      background-color: rgba(0, 109, 255, .2);
      z-index: 5;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &>.bold-border {
    display: block;
    position: absolute;

    width: 200px;

    transform: translate(0, -26px);
    z-index: 3;
  }

  &>.underline {
    display: none;

    position: absolute;
    left: 115px;

    transform: translate(0, -1px);

    width: 700px;
    height: 1px;
    background-color: $blue;

    &.active {
      display: block;
    }
  }
}

@import "../Table/Client";
@import "../ClientWindow/AddClientWindow";
