header nav {
  display: flex;
  align-items: center;

  height: 100%;
  width: min-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  div {
    color: $white;
    font-size: 1.7rem;

    margin: 0 10px;
    padding: 5px 15px;

    border: 1px solid;
    border-radius: 10px;

    &.active {
      color: $black;
      background-color: $white;
      border: 1px solid $white;
    }
  }
}