.table-items > .client {
  position: absolute;

  width: 202px;

  padding: 5px;
  box-sizing: border-box;

  background-color: rgb(189, 200, 231);
  border: 1px solid $border-color;
  z-index: 4;

  font-size: 16px;
  font-weight: 400;
  overflow: hidden;

  transform-origin: center;
  transition: transform .1s, height .1s;

  &.done {
    background-color: rgb(174, 211, 174);
  }

  &:hover {
    transform: scale(1.03);
    z-index: 5;
  }

  .time {
    font-size: 14px;
  }
  .name, .last-name {
    font-weight: 600;

    .master-client, .non-master-client {
      display: inline-block;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      margin-right: 3px;
    }
    .master-client {
      border: 2px solid rgb(232, 0, 0);
    }
    .non-master-client {
      border: 2px solid blue;
    }
  }
  .last-name {
    margin-left: 14px;
  }
  .phone {
    animation: appearance .2s;
    &.mt-10 {
      margin-top: 10px;
    }
  }
  .service {
    animation: appearance .2s;
    font-style: italic;
  }

  .comment {
    background-color: $white;
    border: 1px solid gray;
    margin-top: 10px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
    animation: appearance .2s;
  }

  .underline {
    margin-top: 30px;
    height: 1px;
    background-color: gray;
    opacity: .6;

  }

  .last-visit {
    margin-top: 10px;

    .header {
      font-size: 14px;
    }
  }

  button.actions {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 3px 5px;
    background-color: $blue;
    border: none;
    outline: none;
    color: $white;
    font-weight: 600;
    font-size: .95em;

    cursor: pointer;
  }
}

@keyframes appearance {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
